/* Global */

:root {
  /* color */
  --Color-White: #ffffff;
  --Color-light-White: #eeeeee;
  --Color-dark-White: #dbdbdb;
  --Color-Pink: #fe918d;
  --Color-dark-Pink: #ff6863;
  --Color-Black: #212121;
  --Color-dark-Grey: #4d4d4d;
  --Color-Grey: #616161;
  --Color-light-Grey: #7c7979;
  --Color-Blue: #73aace;
  --Color-Yellow: #fff7d1;
  --Color-Orange: #feb546;
  --color-beige: #ca9b52;
  --color-amber: #ccc0ae;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-boder-radius: 7px;

  /* Animation */
  --animation-duration: 300ms;
}

/*  Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--Color-dark-White);
  text-shadow: 1px 1px 3px rgba(46, 45, 45, 0.7);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--Color-Black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--Color-Black);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--Color-Black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--Color-Black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-beige);
  align-items: center;
  color: var(--Color-dark-White);
  padding: 16px;
}
.navbar_menu {
  display: flex;
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar_menu_item.active {
  border: 1px solid var(--Color-White);
  border-radius: var(--size-boder-radius);
}

.navbar_menu_item:hover {
  background-color: rgba(247, 218, 166, 0.4);
  border-radius: var(--size-boder-radius);
}

/* Home */

#home {
  background: url(img/home-background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid linen;
}

.home_title,
.home_description {
  color: var(--Color-White);
}

.home_contact {
  color: var(--Color-White);
  border: 2px solid var(--Color-White);
  border-radius: var(--size-boder-radius);
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
}

/*   Section common*/

.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/* About */

.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major_icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: #73aace;
  margin: auto;
  border: 1px solid var(--Color-Blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major_icon i {
  transition: all var(--animation-duration) ease-in;
}

.major_icon i:hover {
  color: var(--color-beige);
  transform: rotate(-30deg) scale(1.1);
}

.major_titile,
.major_description {
  color: var(--Color-dark-Grey);
}

.major_description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}
