
/* Global */

: root {
  /* color */
  --Color-White:#ffffff;
  --Color-light-White:#eeeeee;
  --Color-dark-White:#dbdbdb;
  --Color-Pink:#fe918d;
  --Color-dark-Pink:#ff6863;
  --Color-Black:#212121;
  --Color-dark-Grey:#4d4d4d;
  --Color-Grey:#616161;
  --Color-light-Grey:#7c7979;
  --Color-Blue:#73aace;
  --Color-Yellow:#fff7d1;
  --Color-Orange:#feb546;
  
  /* font size */
--font-large:48px;
--font-medium:28px;
--font-regular:18px;
--font-small:16px;
--font-micro:14px;

  /* font weight */
  --weight-bold:700;
  --weight-semi-bold:600;
  --weight-regular:400;

  /* size */

}
body {
  font-family: "Open Sans", sans-serif;

}

  /*  Universal tags */
  *{
      box-sizing: :border-box;
  }    

/* Typography */  

h1{
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--Color-Black);
  margin: 16px 0px;
}

h2{
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--Color-Black);
  margin: 8px 0px;
}
h3{
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--Color-Black);
  margin: 8px 0px;
}

p{
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--Color-Black);
  margin: 4px 0px;
}

